<main class="main">
  <section class="favorites">
    <h2 class="favorites--title">Cócteles favoritos</h2>
    <ul class="favorites--list js-list-favorites"></ul>
    <div class="favorites--container__button js-btn-cleanAllFavorites">
      <button class="favorites--btnClearAll hidden js-btn-clear">
        Borrar favoritos
      </button>
    </div>
  </section>
  <section class="cocktail">
    <h2 class="cocktail--title">Lista</h2>
    <ul class="cocktail--list js-list-cocktails"></ul>
  </section>
</main>
