.page__header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.input {
  padding: 10px;
  width: 50%;
  color: grey;
  font-size: 20px;
  border: 1px solid aqua;
}
.form {
  padding: 30px 10px 40px 0px;
}
