// .button {
//   background-color: var(--color-green);
//   border: none;
//   padding: 5px;
//   margin: 5px;
//   color: white;
// }
.input {
  margin: 5px;
  padding: 5px;
  width: 250px;
  color: grey;
}
.form {
  width: 80%;
  padding: 10px;
}
.ul-list {
  list-style-type: none;
}
.selected {
  background-color: darkcyan;
  color: white;
  margin: 10px;
}
