.selected .article--cocktail__container {
  background-color: rgb(99, 162, 63);
  padding: 20px;
  color: white;
}
.selected .article--cocktail__title {
  color: white;
}
.hero {
  background-image: url(../images/beverage_beach_vector_293774.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: bottom -130px right 0px;
  background-position: right 35% bottom 20%;
  height: 35vh;
}
.input {
  padding: 10px;
  width: 330px;
  color: grey;
  font-size: 20px;
  border: 1px solid rgb(187, 132, 60);
  border-radius: 20px;
  opacity: 0.5;
}
.form {
  padding: 30px 10px 20px 0px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: green;
  border: none;

  margin: 5px;
  color: white;
  font-size: 15px;

  width: 100px;
  height: 25px;
  border-radius: 10px;
  cursor: pointer;
}

.main {
  background-color: rgb(159, 191, 122);

  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.65),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.65)
  );
  padding: 20px;
  min-height: 770px;
}
.favorites {
  border: 5px solid green;
  display: flex;
  flex-direction: column;

  &--list {
    list-style-type: none;
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &--title {
    background-color: green;
    color: white;
    text-align: center;
    padding-top: 20px;
  }
  &--container__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  &--btnClearAll {
    background-color: green;
    border: none;
    margin: 5px;
    color: white;
    font-size: 15px;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
  }
}
.hidden {
  display: none;
}
.article--favorite {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  margin: 10px;

  &__img {
    height: 100px;
    border-radius: 50%;
  }
  &__title {
    text-align: center;
    padding-left: 10px;
    color: rgb(99, 162, 63);
  }
  &__icon {
    font-size: 30px;
    color: rgb(99, 162, 63);
  }
}
.article--cocktail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding: 15px;
  margin: 10px;
  color: rgb(99, 162, 63);
  &__img {
    height: 100px;
    border-radius: 50%;
  }
  &__title {
    text-align: center;
    padding-left: 10px;
  }
}
.cocktail {
  border: 5px solid white;
  display: flex;
  flex-direction: column;

  &--list {
    list-style-type: none;
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &--title {
    background-color: white;
    text-align: center;
    padding-top: 20px;
  }
}
.coctails {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}
