.selected.article--cocktail {
  background-color: rgb(99, 162, 63);
  color: white;
}
.main {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  background-color: rgb(159, 191, 122);
  // background-color: rgb(43, 104, 43);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.65),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.65)
  );
  padding: 20px;
  min-height: 770px;
}
.favorites {
  border: 5px solid green;
  display: flex;
  flex-direction: column;

  &--list {
    list-style-type: none;
  }
  &--title {
    background-color: green;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &--container__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  &--btnClearAll {
    background-color: green;
    border: none;
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    width: 185px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
  }
}
.hidden {
  display: none;
}
.article--favorite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  margin-bottom: 10px;
  &__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  &__title {
    text-align: left;
    width: 70%;
    padding-left: 10px;
    color: rgb(99, 162, 63);
  }
  &__icon {
    font-size: 30px;
    color: rgb(99, 162, 63);
  }
}
.article--cocktail {
  padding: 15px;
  margin: 10px;
  color: rgb(99, 162, 63);
  &__img {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 50%;
  }
  &__title {
    text-align: center;
    width: 100%;
    padding-left: 10px;
  }
}
.cocktail {
  border: 5px solid white;

  &--list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  &--title {
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
